<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <script src="/ImNaNa/javascripts/jquery-1.11.2.min.js"></script>
    <title>Sudoku Puzzle by wuciawe</title>
    <link rel="stylesheet" href="/ImNaNa/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/ImNaNa/stylesheets/bootstrap-theme.min.css">
    <script src="/ImNaNa/javascripts/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="http://wuciawe.github.io/favicon.ico">
    <script src="/ImNaNa/javascripts/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/style20.css" media="screen">
    <script src="javascripts/puzzle.js"></script>
</head>

<body data-ng-app="sudokuApp">
<header class="navbar navbar-fixed-top" role="navigation" style="margin-bottom: 0px;">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#jb-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" target="_blank" href="/">The Blog</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="jb-navbar-collapse">
            <p class="navbar-text" style="color: #ffffff;"><strong>Sudoku Puzzle</strong> Enjoy it!</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row" data-ng-controller="solverController">
        <div class="col-md-6 vertical-center">
            <table cellspacing="0" cellpadding="0" class="t">
                <tbody>
                <tr data-ng-repeat="row in sudokuData.oData.rows">
                    <td class="g r{{row.rid}} c{{col.cid}}" data-ng-repeat="col in row.cols">
                        <data-my-sudoku-input data-my-model="col.vl" data-rawid="{{row.rid + ' ' + col.cid}}"></data-my-sudoku-input>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-6 vertical-center">
            <ul class="text-center list-unstyled">
                <li>
                    <span data-ng-show="sudokuData.pristine === 81 && !sudokuData.showres" class="alert alert-warning" role="alert">Do not let the sudoku blank, give a problem to play.</span>
                </li>
                <li>
                    <span data-ng-show="sudokuData.invalid !== 0 && !sudokuData.showres" class="alert alert-danger" role="alert">Invalid input found! Only digits from 1 to 9 allowed.</span>
                </li>
                <li>
                    <button class="btn btn-lg b" data-ng-class="{'btn-warning':sudokuData.pristine === 81, 'btn-danger':sudokuData.invalid !== 0, 'btn-info':sudokuData.pristine !== 81 && sudokuData.invalid === 0}" data-ng-click="solveit()" data-ng-show="!sudokuData.showres" data-ng-disabled="sudokuData.invalid !== 0">Solve It</button>
                </li>
                <li>
                    <table cellspacing="0" cellpadding="0" data-ng-class="sudokuData.solvable ? 't' : 'tw' " data-ng-show="sudokuData.showres">
                        <tbody>
                        <tr data-ng-repeat="row in sudokuData.solution.rows">
                            <td class="g r{{row.rid}} c{{col.cid}}" data-ng-repeat="col in row.cols">
                                <input class="d" ng-class="{'gr' : mirror(row.rid, col.cid)}" autocomplete="off" data-ng-model="col.vl" data-ng-readonly="true">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </li>
                <li>
                    <span data-ng-show="!sudokuData.solvable && sudokuData.showres" class="alert alert-danger" role="alert"><strong>Not Solvable!!!</strong></span>
                </li>
            </ul>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-offset-8">
                <p class="copyright">Sudoku Puzzle maintained by <a href="https://github.com/wuciawe">wuciawe</a></p>
                <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
    try {
        var pageTracker = _gat._getTracker("UA-53727567-1");
        pageTracker._trackPageview();
    } catch(err) {}
</script>
</body>
</html>